.container{
    width: 600px;
    height: 400px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px auto;
}

.grid1{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.flexbox1{
    display: flex;
    flex-direction: row;
}

.flexbox2{
    display: flex;
    flex-direction: column;
}

.red{
    width: 120px;
    height: 100px;
    background-color: red;
}

.yellow{
    height:0px;
	width:0px;
	border-left:solid 120px yellow;
	border-top:solid 50px transparent;
	border-bottom:solid 50px transparent;
}

.pink{
    width: 120px;
    height: 100px;
    background-color: pink;
    border-radius: 20px;
}

.circle{
    width: 120px;
    height: 96px;
    border-radius: 100%;
    border: solid 4px blue;
}

.blue{
    width: 120px;
    height: 220px;
    background-color: blue;
    border-radius: 20px;
    margin-left: 20px;
}

.green{
    margin-top: 20px;
    width: 410px;
    height: 50px;
    background-color: green;
}